# App
APP_URL=http://localhost

# DB (로컬)
DB_HOST=zslab_map_mariadb
DB_PORT=3306
DB_DATABASE=zslab_map
DB_USERNAME=zslab_map
DB_PASSWORD=

# Redis
REDIS_HOST=zslab_map_redis

# Naver Maps
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 공공데이터
PUBLIC_DATA_API_KEY=

# Next.js
NEXT_PUBLIC_API_URL=http://localhost/api
NEXT_PUBLIC_NAVER_CLIENT_ID=
