# App
APP_URL=http://localhost
APP_KEY=

# DB
DB_HOST=zslab_mariadb
DB_PORT=3306
DB_DATABASE=zslab_map
DB_USERNAME=zslab_map
DB_PASSWORD=

# Redis
REDIS_HOST=zslab_redis
REDIS_PASSWORD=

# Naver Maps
NAVER_MAP_CLIENT_ID=umhwfru9h6
NAVER_CLIENT_SECRET=

# 공공데이터
PUBLIC_DATA_API_KEY=

# Next.js
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=umhwfru9h6
